---
##                       ._____.   .__
##  _____    ____   _____|__\_ |__ |  |   ____             ____ _____    ______
##  \__  \  /    \ /  ___/  || __ \|  | _/ __ \   ______  /    \\__  \  /  ___/
##   / __ \|   |  \\___ \|  || \_\ \  |_\  ___/  /_____/ |   |  \/ __ \_\___ \
##  (____  /___|  /____  >__||___  /____/\___  >         |___|  (____  /____  >
##       \/     \/     \/        \/          \/               \/     \/     \/
##     a n s i b l e - n a s      https://github.com/davestephens/ansible-nas

# Add your all.yml config overrides to this file. See group_vars/all.yml for all possible settings.

# Example options
ansible_nas_hostname: athena
ansible_nas_timezone: Europe/Paris

## Enable some applications
homepage_enabled: true

# Will be added to the docker group to give user command line access to docker
ansible_nas_user: daseeds

# Your email and domain, used for Let's Encrypt SSL certs
ansible_nas_email: cyril.jean@gmail.com

# Applications will have subdomain SSL certificates created if Traefik is enabled, e.g. ansible-nas.<your-domain>, nextcloud.<your-domain>
ansible_nas_domain: hivehub.fr

docker_home: /main_pool/Volume2/docker
samba_shares_root: /main_pool/Volume3
nfs_shares_root: /main_pool/Volume3




# Applications
jellyfin_enabled: true
radarr_enabled: true
overseerr_enabled: true
homeassistant_enabled: true
glances_enabled: true
speedtest_tracker_enabled: true
traefik_enabled: true
logging_stack_enabled: true
cloudflare_ddns_enabled: true
syncthing_enabled: true
stats_enabled: true
n8n_enabled: true
immich_enabled: true
portainer_enabled: true

ansible_nas_extra_packages:
  - smartmontools
  - htop
  - zfsutils-linux
  - bonnie++
  - unzip
  - lm-sensors
  - cron